In [1]:
import pandas as pd
from datetime import datetime, timedelta

#load dataset from database inaportnet and scraping inaportnet
ina_database = pd.read_excel("D:\databasePKK.xlsx")
ina_scrape = pd.read_excel("D:\scrapePKK.xlsx")

In [14]:
ina_database.head()

,No,No PKK,Kapal,Waktu Approve,GT,Trayek,Agen,Asal,Tujuan,Tiba,Berangkat
0,1,PKK.DN.IDSRI.2202.000689,LANGKAT JAYA III,2022-02-05 16:51:47,367,TRAMPER,PT. PUTRA TANJUNGPURA,Kuala Semboja,Kuala Semboja,2022-01-27 15:30:00,2022-02-06 12:10:00
1,2,PKK.DN.IDSRI.2202.000482,BERAU COAL 23,2022-02-04 13:44:28,155,TRAMPER,PT. PERUSAHAAN PELAYARAN RUSIANTO BERSAUDARA,Kuala Semboja,Kuala Semboja,2022-02-04 19:00:00,2022-02-28 19:00:00
2,3,PKK.DN.IDSRI.2202.001781,PM - 238,2022-02-15 10:40:44,1292,TRAMPER,PT. PERUSAHAAN PELAYARAN RUSIANTO BERSAUDARA,MUARA BERAU,SAMARINDA,2022-02-01 12:00:00,2022-02-10 01:00:00
3,4,PKK.DN.IDSRI.2202.002307,ROBBY 212,2022-02-21 12:23:47,2085,TRAMPER,PT. PERUSAHAAN PELAYARAN RUSIANTO BERSAUDARA,TANAH GROGOT,SAMARINDA,2022-02-21 11:00:00,2022-02-22 15:00:00
4,5,PKK.DN.IDSRI.2202.002677,ROBBY - 26,2022-02-24 15:30:31,2132,TRAMPER,PT. PERUSAHAAN PELAYARAN RUSIANTO BERSAUDARA,TANAH GROGOT,SAMARINDA,2022-02-24 11:00:00,2022-02-28 15:00:00

In [15]:
ina_scrape.head()

,no,nama kapal,waktu permohonan,waktu respon,nomor produk
0,5,MV CORNELIA M,2022-08-01 13:59:14,2022-08-05 11:14:27,PKK.LN.IDSRI.2208.000115
1,14,BAHTERA ABADI II,2022-06-24 10:30:43,2022-06-27 10:33:41,PKK.DN.IDSRI.2206.002380
2,7,TANAIR IV,2022-07-21 17:31:19,2022-07-24 11:26:32,PKK.DN.IDSRI.2207.002078
3,1,PANCARAN 112,2022-05-01 00:02:21,2022-05-03 09:26:19,PKK.DN.IDSRI.2205.000094
4,2,ROYAL 19,2022-06-25 05:32:31,2022-06-27 13:53:13,PKK.DN.IDSRI.2206.002394

In [2]:
vlookup = pd.merge(ina_database, ina_scrape, left_on=['No PKK'], right_on=['nomor produk'], how='inner')
#change waktu permohonan into Local Time
vlookup['waktu permohonan LT'] = vlookup['waktu permohonan']+timedelta(hours=8)
#calculate time difference
vlookup['selisih waktu'] = vlookup['waktu respon'] - vlookup['waktu permohonan LT']
sort_data = vlookup.sort_values("selisih waktu", axis = 0, ascending = False)
sort_data.head()

,No,No PKK,Kapal,Waktu Approve,GT,Trayek,Agen,Asal,Tujuan,Tiba,Berangkat,no,nama kapal,waktu permohonan,waktu respon,nomor produk,waktu permohonan LT,selisih waktu
16724,240,PKK.LN.IDSRI.2208.000115,MV CORNELIA M,2022-08-05 11:14:27,41799,PKKA,PT. SINAR BERLIAN SAMUDERA,KAOHSIUNG,NAVLAKHI,2022-08-04 00:01:00,2022-08-14 23:01:00,5,MV CORNELIA M,2022-08-01 13:59:14,2022-08-05 11:14:27,PKK.LN.IDSRI.2208.000115,2022-08-01 21:59:14,3 days 13:15:13
12190,1126,PKK.DN.IDSRI.2206.002380,BAHTERA ABADI II,2022-06-27 10:33:41,250,TRAMPER,PT. PELAYARAN NASIONAL WAHIDINS MALIGAI,MANADO,MUARA BERAU,2022-06-24 06:00:00,2022-06-30 23:55:00,14,BAHTERA ABADI II,2022-06-24 10:30:43,2022-06-27 10:33:41,PKK.DN.IDSRI.2206.002380,2022-06-24 18:30:43,2 days 16:02:58
13802,19,PKK.DN.IDSRI.2207.002078,TANAIR IV,2022-07-24 11:26:32,123,TRAMPER,PT. PELAYARAN TANAIR PRATAMA NUSANTARA,PONTIANAK,SAMARINDA,2022-07-21 15:30:00,2022-07-22 14:30:00,7,TANAIR IV,2022-07-21 17:31:19,2022-07-24 11:26:32,PKK.DN.IDSRI.2207.002078,2022-07-22 01:31:19,2 days 09:55:13
8665,41,PKK.DN.IDSRI.2205.000094,PANCARAN 112,2022-05-03 09:26:19,256,TRAMPER,PT. PANCARAN SAMUDERA TRANSPORT,KUPANG,BALIKPAPAN,2022-05-02 11:00:00,2022-06-02 06:00:00,1,PANCARAN 112,2022-05-01 00:02:21,2022-05-03 09:26:19,PKK.DN.IDSRI.2205.000094,2022-05-01 08:02:21,2 days 01:23:58
11369,305,PKK.DN.IDSRI.2206.002394,ROYAL 19,2022-06-27 13:53:13,1975,TRAMPER,PT. KARYA FORTUNA SHIPPING,KOTABARU - BATULICIN,BALIKPAPAN,2022-06-04 18:00:00,2022-06-30 13:30:00,2,ROYAL 19,2022-06-25 05:32:31,2022-06-27 13:53:13,PKK.DN.IDSRI.2206.002394,2022-06-25 13:32:31,2 days 00:20:42

In [12]:
#make criteria in time difference
def sel(vlookup):
    if vlookup['selisih waktu'] < timedelta(seconds=31):
        return "1. kurang dari 30 detik"
    elif vlookup['selisih waktu'] < timedelta(minutes=30):
        return "2. antara 30 detik - 30 menit"
    elif vlookup['selisih waktu'] < timedelta(hours=1):
        return "3. antara 30 - 60 menit"
    elif vlookup['selisih waktu'] < timedelta(hours=6):
        return "4. antara 1 - 6 jam"
    elif vlookup['selisih waktu'] < timedelta(hours=12):
        return "5. antara 6 -12 jam"
    elif vlookup['selisih waktu'] < timedelta(days=1):
        return "6. antara 12 - 24 jam"
    else:
        return "7. lebih dari 24 jam"

vlookup['pembagian selisih waktu'] = vlookup.apply(sel, axis=1)
sort_data = vlookup.sort_values("selisih waktu", axis = 0, ascending = True)

#grouping pembagian selisih waktu
waktu_pelayanan = vlookup.groupby('pembagian selisih waktu')['pembagian selisih waktu'].count().reset_index(name='jumlah')
waktu_pelayanan['persentase'] = waktu_pelayanan['jumlah']/len(vlookup)*100
waktu_pelayanan

         pembagian selisih waktu  jumlah  persentase
0        1. kurang dari 30 detik     231    1.307374
1  2. antara 30 detik - 30 menit    7588   42.945271
2        3. antara 30 - 60 menit    2883   16.316713
3            4. antara 1 - 6 jam    5295   29.967740
4            5. antara 6 -12 jam    1016    5.750184
5          6. antara 12 - 24 jam     598    3.384459
6           7. lebih dari 24 jam      58    0.328259

In [13]:
#divide waktu permohonan into day, month, time
month_mapping={
    1: 'January', 
    2: 'February', 
    3: 'March', 
    4: 'April', 
    5: 'May',
    6: 'June', 
    7: 'July',
    8: 'August'
} 
dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 

vlookup['bulan permohonan'] = vlookup['waktu permohonan LT'].dt.month.map(month_mapping)
vlookup['hari permohonan'] = vlookup['waktu permohonan LT'].dt.dayofweek.map(dw_mapping)

#grouping pembagian bulan permohonan
bulan_permohonan = vlookup.groupby('bulan permohonan')['bulan permohonan'].count().reset_index(name='jumlah')
bulan_permohonan['persentase'] = bulan_permohonan['jumlah']/len(vlookup)*100

def nomor(bulan_permohonan):
    if bulan_permohonan['bulan permohonan'] == 'January':
        return 1
    elif bulan_permohonan['bulan permohonan'] == 'February':
        return 2
    elif bulan_permohonan['bulan permohonan'] == 'March':
        return 3
    elif bulan_permohonan['bulan permohonan'] == 'April':
        return 4
    elif bulan_permohonan['bulan permohonan'] == 'May':
        return 5
    elif bulan_permohonan['bulan permohonan'] == 'June':
        return 6
    elif bulan_permohonan['bulan permohonan'] == 'July':
        return 7
    else:
        return 8

bulan_permohonan['nomor'] = bulan_permohonan.apply(nomor, axis=1)
bulan_permohonan.sort_values("nomor", axis = 0, ascending = True)

  bulan permohonan  jumlah  persentase  nomor
3          January     616    3.486332      1
2         February    2790   15.790367      2
6            March    2605   14.743336      3
0            April    2622   14.839549      4
7              May    2441   13.815156      5
5             June    2715   15.365895      6
4             July    2702   15.292320      7
1           August    1178    6.667044      8

In [14]:
#grouping pembagian bulan permohonan
hari_permohonan = vlookup.groupby('hari permohonan')['hari permohonan'].count().reset_index(name='jumlah')
hari_permohonan

  hari permohonan  jumlah
0          Friday    2880
1          Monday    3145
2        Saturday    1891
3          Sunday    1341
4        Thursday    2886
5         Tuesday    2722
6       Wednesday    2804

In [19]:
batas_waktu1 = pd.to_datetime('06:00:00', format='%H:%M:%S')
batas_waktu2 = pd.to_datetime('12:00:00', format='%H:%M:%S')
batas_waktu3 = pd.to_datetime('18:00:00', format='%H:%M:%S')

#kriteria jam permohonan
def jam(vlookup):
    if vlookup['jam permohonan'] < batas_waktu1:
        return "1. jam 00.00 s.d. 06.00"
    elif vlookup['jam permohonan'] < batas_waktu2:
        return "2.jam 06.00 s.d. 12.00"
    elif vlookup['jam permohonan'] < batas_waktu3:
        return "3. jam 12.00 s.d. 18.00"
    else:
        return "4. jam 18.00 s.d. 24.00"

vlookup['jam permohonan'] = vlookup['waktu permohonan LT'].dt.time
vlookup['jam permohonan'] = pd.to_datetime(vlookup['jam permohonan'], format='%H:%M:%S')
vlookup['pembagian jam permohonan'] = vlookup.apply(jam, axis=1)

#grouping pembagian jam permohonan
waktu_permohonan = vlookup.groupby('pembagian jam permohonan')['pembagian jam permohonan'].count().reset_index(name='jumlah')
waktu_permohonan['persentase'] = waktu_permohonan['jumlah']/len(vlookup)*100
waktu_permohonan

  pembagian jam permohonan  jumlah  persentase
0  1. jam 00.00 s.d. 06.00     579    3.276926
1   2.jam 06.00 s.d. 12.00    6855   38.796763
2  3. jam 12.00 s.d. 18.00    7095   40.155074
3  4. jam 18.00 s.d. 24.00    3140   17.771238